local/
Thumbs.db
*.aux
*.bbl
*-blx.bib
*.blg
*.dvi
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
